.app {
  @include flex-h;
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: 20;
  &-main {
    position: relative;
    width: 360px;
    margin: 70px 0 0 0;
  }
}
.appLogoWrapper {
  position: relative;
  bottom: -50px;
  left: 129px;
  width: 100px;
  height: 100px;
  animation: appLogo 0.7s ease-in-out 1;
  z-index: 6;
}
.appLogo {
  position: absolute;
  top: 0px;
  width: 100px;
  height: 100px;
  background-image: url('~assets/appLogo.png');
  background-size: cover;
  transform-origin: bottom;
  transition: all 0.5s ease-in-out;
  transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateX(0deg);
  z-index: 6;
}
.appLoginWrapper {
  position: relative;
  width: 360px;
  height: 420px;
  animation: appLogin 0.5s ease-in-out 1;

}

.appLogin {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  min-height: 420px;
  padding: 0 0 40px 0;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 3px 32px 0 rgba(0, 0, 0, 0.22);
  transform-origin: top;
  transition: all 0.5s ease-in-out;
  transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateX(0deg);
  z-index: 2;
  &-title {
    font-size: 30px;
    font-weight: lighter;
    line-height: 30px;
    color: #000;
    margin: 78px 40px 8px;
    -moz-transform: matrix( 1.0006353385659,0,0,1,0,0);
    -webkit-transform: matrix( 1.0006353385659,0,0,1,0,0);
    -ms-transform: matrix( 1.0006353385659,0,0,1,0,0);
  }

  &-subtitle {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.502);
    line-height: 15px;
    margin: 0 40px 37px;
    -moz-transform: matrix( 1.0006353385659,0,0,1,0,0);
    -webkit-transform: matrix( 1.0006353385659,0,0,1,0,0);
    -ms-transform: matrix( 1.0006353385659,0,0,1,0,0);
  }

  &-label {
    width: 240px;
    &-login {
      margin-bottom: 20px;
    }
    &-password {
      margin-bottom: 20px;
    }
    &-checkbox {
      @include flex-v;
      margin-bottom: 32px;
      height: 14px;
      cursor: pointer;
      input[type="checkbox"] {
        display: none;
        &:checked + i {
          background: red;
        }
      }
      span {
        @include flex-vh;
        width: 12px;
        height: 12px;
        margin-right: 7px;
        background: #5294fa;
        border-radius: 3px;
      }
      p {
        font-size: 13px;
        line-height: 14px;
        color: rgb(99, 99, 99);
      }
      &:has(input:checked) {
        span {
          color: red;
        }
      }
    }
    input[type="text"] {
      @include flex-v;
      width: 100%;
      height: 38px;
      padding: 0 10px;
      font-size: 16px;
      font-weight: lighter;
      color: rgba(0, 0, 0, 1);
      border: 1px solid rgb(99, 99, 99);
      background-color: rgb(255, 255, 255);
      &::placeholder {
        font-size: 16px;
        font-weight: lighter;
        color: rgba(0, 0, 0, 0.302);
      }
      &:focus {
        border: 2px solid rgb(62, 159, 253);
        box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.20);
      }
    }
  }
  &-button {
    @include flex-vh;
    background-color: rgb(62, 159, 253);
    width: 240px;
    min-height: 40px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    line-height: 0.6;

  }
}
#background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  li {
    position: relative;
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0;
    transition: all 5s ease-in-out;
    z-index: 1;
    &.show {
      position: absolute;
      top: 0;
      display: block;
      opacity: 1;
      animation-name: fadeInOpacity;
      animation-iteration-count: 1;
      animation-timing-function: ease-in;
      animation-duration: 2s;
      &:nth-child(2) {
        z-index: 2;
      }
      &:nth-child(3) {
        z-index: 3;
      }
      &:nth-child(4) {
        z-index: 4;
      }
      &:nth-child(5) {
        z-index: 5;
      }
      &:nth-child(6) {
        z-index: 6;
      }
      &:nth-child(7) {
        z-index: 7;
      }
      &:nth-child(8) {
        z-index: 8;
      }
      &:nth-child(9) {
        z-index: 9;
      }
      &:nth-child(10) {
        z-index: 10;
      }
    }
    &:first-child {
      display: block;
      opacity: 1;
      animation-name: fadeInOpacity;
      animation-iteration-count: 1;
      animation-timing-function: ease-in;
      animation-duration: 2s;
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}